body{
	background-color: #2098D0;
	padding-top: 120px;
}
.navbar{
	padding: 20px 70px 0px 70px;
	background: #2098D1;
	color:#ffffff;
	border: 0;
	display: block;
}

@media screen and (max-width: 590px){
    .navbar{
    	padding: 20px 40px 0px 40px ;
    }
    @media screen and (max-width: 590px){
    	.navbar{
    	padding: 20px 20px 0px 20px ;
        }
    }
}

.topnav {
  overflow: hidden;
  background-color: #2098D1;
  position: relative;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.active {
  border-bottom: 3px solid white;
}
.dropdown-menu a{
	color: white;
}

.nav>li>a:hover {
  border-bottom: 3px solid red;
  background: #2098D1;
}

.form-group{
	display: inline;
}

.navbar-text{
	font-size: 30px;
	margin-top: 3px;
	border: 2px solid white;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 5px;
	background-color: WHITE;
	color: #2098D1;
	display: inline;
}

a{
	text-align: center;
	display: block;
	color: #ffffff;
}

.main{
	padding-top: 1%;
}

h1{
	/*padding-top: 50px;*/
	text-align: center;
	font-size: 400%;
	font-family: 'Lato', sans-serif;
	color: #fff;
}
h3,h5{
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #fff;
}
div.gallery {
	text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
    display: inline-block;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;

}
div.gallery img[src="css.jpg"]{
	height: 178px;
	width: 150px;
}
div.desc {
    padding: 15px;
    text-align: center;
}
div.all_gallery{
	padding-top: 5%;
	display: inline-block;
	justify-content: center;
	padding-left: 23%;
	padding-right: 20%;
}